:root {
  --background: antiquewhite;
  --cards: bisque;
  --darkBackground: rgb(53, 52, 52);
  --lightgrey: lightgrey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  padding: 10px;
}

a {
  background-color: lightgray;
}

a img {
  transition: scale 300ms ease-in-out;
  /*(-webkit-transition: opacity 0.3s;*/
}

a:hover img {
  /*opacity: 0.9;*/
  scale: 1.28;
}
