* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  padding: 10px;
}

a {
background-color: grey;
}

a img{
transition: scale 300ms ease-in-out;
/*(-webkit-transition: opacity 0.3s;*/
}

a:hover img {
/*opacity: 0.9;*/
scale: 1.28;
}
/*img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
}
