@import url("global.css");
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/header.css");
@import url("./components/navigation.css");

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  background-color: bisque;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

/* profile Page */

.user {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.counters {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.settings {
  display: flex;
  justify-content: center;
  gap: 10px;
}
