@import url("global.css");
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/header.css");
@import url("./components/navigation.css");
@import url("./components/switch.css");

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}
.dark {
  background-color: black;
  color: white;
}

main {
  background-color: bisque;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /*justify-content: center;*/

  align-self: center;
  margin-bottom: 100px;
  width: 65%;
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  align-self: center;
}

@media (min-width: 600px) {
  footer {
    width: 65%;
  }
}

/*Form Page */

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15%;
}

/* profile Page */

.profile {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10 px;
  align-items: center;
}
.-user {
  align-items: center;
}

.-counters {
  justify-content: space-evenly;
}

.-settings {
  justify-content: center;
}

.-profile-headlines {
  padding: 10px;
  display: block;
}

.profileimg {
  width: 200px;
}
