.check {
  align-self: center;
}

.bookmark {
  position: absolute;
  right: 0px;
  top: -7px;
  .align-self: flex-end;
  background-color: inherit;
  scale: 1;
  border: none;
}
.bookmark:hover {
  color: rgb(0, 0, 0);
}
