.check {
  align-self: center;
  border-radius: 10px;
  padding: 20px;
}

.check:hover {
  background-color: rgb(105, 101, 101);
}

.bookmark {
  position: absolute;
  right: 0px;
  top: -7px;
  background-color: inherit;
  border: none;
}
.bookmark:hover {
  background-color: rgb(72, 55, 55);
}

/* Counters */
.qcounter {
  display: flex;
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.bcounter {
  display: flex;
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}
