.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: burlywood;

  border-radius: 10px;
}
.darkcard {
  background-color: dimgray;
}
.card-container:hover {
  box-shadow: 0 10px 10px 0 rgb(192, 188, 186);
}

.card-article {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

/* Tags alias Categories */
.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

li {
  background-color: dimgrey;
  box-shadow: 0 10px 10px 0 rgb(164, 162, 162);
  border-radius: 10px;
  padding: 12px;
}

ul {
  list-style-type: none;
}
