.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: coral;

  border-radius: 10px;
}
.card-container:hover {
  box-shadow: 0 10px 10px 0 rgb(241, 189, 170);
}

.card-article {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

/* Tags alias Categories */
.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

li {
  background-color: dimgrey;
  box-shadow: 0 10px 10px 0 rgb(232, 60, 60);
  border-radius: 10px;
  padding: 12px;
}

ul {
  list-style-type: none;
}
