header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--lightgrey);
  align-self: center;
  border-radius: 12px;
}

@media (min-width: 600px) {
  header {
    width: 65%;
  }
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 30px;
}
